{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@shared/",
    "",
    "^@domain/",
    "",
    "^@app/",
    "",
    "^@infra/",
    "",
    "^@interface/",
    "",
    "^[.]"
  ],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
